*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


html{
    max-height: 200vh;
}

/* HEADER STYLING */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    height: 10vh;
    width: auto;
}

.header-title{
    color: white;
}



/* SL DIV's STYLING */
#SL-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/sl2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #0096FF;
}

#Buss-Tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

#buss{
    background-color: black;
    color: white;
    border: solid 2px #0096FF;
    border-radius: 25px;
    padding: 10px;
}

#Tag{
    background-color: black;
    color: white;
    border: solid 2px #0096FF;
    border-radius: 25px;
    padding: 10px;
}

option{
    background-color: green;
    width: 30px;
    height: 15px;
}

select{
    background-color: #0096FF;
    height: 30px;
}

#sl-submit{
    transition-duration: 0.2s;
    padding: 5px;
}

#sl-submit:hover{
    background-color: black;
    color: white;
    border: #0096FF solid 2px;
    border-radius: 10px;
    height: 4vh;
    width: 8vw;
}



  














/* VÄDER STYLING */
#vader-container{
    height: 100vh;
    background-image: url(../img/väder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#vader-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#header-title-vader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

    
    width: 100%;
    background-color: #FBB80F;
    color: white;
}

#vader-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    border: solid 2px #A9A9A9;
    border-radius: 25px;
    width: 50vw;
    padding: 10px;


    height: 15vh;
    background-color: #A9A9A9;
    color: white;
}

#vader-submit{
    height: 5vh;
    width: auto;
    font-size: 15px;
    transition-duration: 0.4s;
    border: 2px solid white;
    padding: 2px;
}

#vader-submit:hover{
    background-color: #0096FF;
    border: #0096FF solid 2px;
    border-radius: 10px;
    height: 6vh;
    width: 8vw;
}

#vader-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#temp-info{
    border: white solid 2px;
    border-radius: 25px;
    padding: 10px;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
